<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--transaction-manager가 transactionManager일 경우 생략 가능-->
    <!--    <tx:advice id="transactionAdvice">-->
    <!--        <tx:attributes>-->
    <!--            &lt;!&ndash;propagation이 "REQUIRED"일 경우 생략 가능&ndash;&gt;-->
    <!--            <tx:method name="get*" read-only="true"/>-->
    <!--            <tx:method name="*" />-->
    <!--        </tx:attributes>-->
    <!--    </tx:advice>-->

    <!--    <aop:config>-->
    <!--        <aop:advisor advice-ref="transactionAdvice" pointcut="bean(*Service)"/>-->
    <!--    </aop:config>-->

    <tx:annotation-driven/>

    <context:annotation-config/>

    <!--    <bean id="userService" class="com.ksb.spring.TxProxyFactoryBean">-->
    <!--        <property name="target" ref="userServiceImpl"/>-->
    <!--        <property name="transactionManager" ref="transactionManager"/>-->
    <!--        <property name="pattern" value="upgradeLevels"/>-->
    <!--        <property name="serviceInterface" value="com.ksb.spring.UserService"/>-->
    <!--    </bean>-->

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <!--    <bean id="transactionAdvice" class="com.ksb.spring.TransactionAdvice">-->
    <!--        <property name="transactionManager" ref="transactionManager"/>-->
    <!--    </bean>-->

    <!--    <bean id="transactionPointcut"-->
    <!--          class="org.springframework.aop.aspectj.AspectJExpressionPointcut">-->
    <!--        <property name="expression" value="execution(* *..*ServiceImpl.upgrade*(..))"/>-->
    <!--    </bean>-->

    <!--    <bean id="transactionAdvisor"-->
    <!--          class="org.springframework.aop.support.DefaultPointcutAdvisor">-->
    <!--        <property name="advice" ref="transactionAdvice"/>-->
    <!--        <property name="pointcut" ref="transactionPointcut"/>-->
    <!--    </bean>-->
    <!--    -->


    <!--    <bean id="userService"-->
    <!--          class="org.springframework.aop.framework.ProxyFactoryBean">-->
    <!--        <property name="target" ref="userServiceImpl"/>-->
    <!--        <property name="interceptorNames">-->
    <!--            <list>-->
    <!--                <value>transactionAdvisor</value>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--    </bean>-->

    <bean id="testUserService"
          class="com.ksb.spring.UserServiceImpl$TestUserService"
          parent="userService">
    </bean>

    <bean id="userService" class="com.ksb.spring.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <bean id="mailSender"
          class="com.ksb.spring.DummyMailSender">
        <property name="host" value="mail.server.com"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userDao" class="com.ksb.spring.UserDaoJdbc">
        <property name="dataSource" ref="dataSource"/>
        <property name="sqlService" ref="sqlService"/>
    </bean>


    <bean id="sqlService" class="com.ksb.spring.DefaultSqlService"/>

<!--    <bean id="sqlService" class="com.ksb.spring.BaseSqlService">-->
<!--        <property name="sqlReader" ref="sqlReader"/>-->
<!--        <property name="sqlRegistry" ref="sqlRegistry"/>-->
<!--    </bean>-->

<!--    <bean id="sqlReader" class="com.ksb.spring.JaxbXmlSqlReader">-->
<!--        <property name="sqlmapFile" value="/sqlmap.xml"/>-->
<!--    </bean>-->

<!--    <bean id="sqlRegistry" class="com.ksb.spring.HashMapSqlRegistry">-->
<!--    </bean>-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/toby?serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>
</beans>